.AI_DJ_Speed {
    float: left;
}

.disk_speed,
.disk_volume {
    height: 250px;
    width: 250px;
    border-radius: 220px;
}

.AI_DJ_Volume {
    float: right;
}

Canvas {
    background-color: lightsteelblue;
}